:root {
  --main-green: #3a7d4f;
  --main-orange: #d25832;
  --main-blue: #305db8;
  --main-tan: #af9272;
  --main-white: #ebe1dc;
  --main-mustard: #cbae45;
  --main-plum: #71399a;
  --main-mrgreen: #7a9358;
  --main-peacock: #595f89;
  --main-scarlet: #a8483a;
  --main-mswhite: #ccccca;
}

body {
  background-image: url("/assets/images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button:focus {
  outline: none;
}

div.container {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.questionaire {
  background: var(--main-orange);
  border: 4px solid black;
  padding: 12px 28px;
  color: white;
  width: 50%;
}
@media screen and (max-width:768px){
  .questionaire {
    width: 75%;
  }
}
@media screen and (max-width:600px){
  .questionaire {
    width: 100%;
  }
}

.questionaire > div {
  background: var(--main-green);
  border: 4px solid black;
  padding: 48px 8px;
}

.questionaire label {
  font-size: 24px;
  font-weight: 900;
  width: 90%;
}

.radio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.questionaire input {
  border: 2px solid black;
  outline: none;
  width: 90%;
}

.questionaire button {
  border: 2px solid black;
  background: var(--main-blue);
  color: white;
}

.notepad-container {
  padding: 24px;
  background-image: url("/assets/images/notepad.png");
  background-size: contain;
  background-repeat: repeat-y;
}

table {
  background: var(--main-white);
}

td {
  vertical-align: middle;
  text-align: center;
  border: 2px solid var(--main-tan);
  color: var(--main-tan);
  font-family: 'Sedgwick Ave', cursive;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 600;
}

td.heading {
  font-family: 'Rakkas', cursive;
  font-size: 1.5rem;
  font-style: normal;
}

td.binding, td.notepad-foot {
  border: none;
}

td button {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
}

.binding {
  background-image: url(/assets/images/binding.png);
  background-size: 100% 100%;
  height: 120px;
  border: none;
  max-width: 100%;
}

.notepad-foot {
  background-image: url(/assets/images/foot.png);
  background-size: 100% 100%;
  height: 160px;
  border: none;
  max-width: 100%;
}

.notepadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mustard {
  border: 3px outset var(--main-mustard);
  color: var(--main-mustard);
}

.plum {
  border: 3px outset var(--main-plum);
  color: var(--main-plum);
}

.green {
  border: 3px outset var(--main-mrgreen);
  color: var(--main-mrgreen);
}

.peacock {
  border: 3px outset var(--main-peacock);
  color: var(--main-peacock);
}

.scarlet {
  border: 3px outset var(--main-scarlet);
  color: var(--main-scarlet);
}

.white {
  border: 3px outset var(--main-mswhite);
  color: var(--main-mswhite);
}

.mustard:active, .plum:active, .green:active,
.peacock:active, .scarlet:active, .white:active {
  border-style: inset;
}